<!DOCTYPE html>
<html>
<head>
    <title>Add Product</title>
</head>
<body>
    <h1>Add New Product</h1>

    <form method="post">
        {% csrf_token %}
        <label>Name:</label><br>
        <input type="text" name="name" required><br><br>

        <label>Category:</label><br>
        <select name="category" required>
            <option value="drink">Drink</option>
            <option value="snack">Snack</option>
            <option value="other">Other</option>
        </select><br><br>

        <label>Price (Ksh)</label><br>
        <input type="number" name="price" step="0.01" required><br><br>

        <label>Stock</label><br>
        <input type="number" name="stock" min="0" required><br><br>

        <button type="submit">Save</button>
    </form>

    <br>
    <a href="{%url 'product_list' %}">Back to Product List</a>
</body>
</html>