<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
</head>
<body>
    <h1>Club Products </h1>

    <a href="{% url 'add_product' %}">Add New Product</a>

    <table border="1" cellspacing="0" cellpadding="8">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.get_category_display }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No products found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>